*{
	box-sizing: border-box;
}

.grid{
	width: 200px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	background-color: pink;
}

.grid div{
	width: 20px;
	height: 20px;
	border: 1px solid grey;
}

.activePiece{
	background-color: blue;
}